.p-new.Div1 {
;
}
.p-new.Flex30 {
display: flex;
flex-direction: column;
}
.p-new.Flex31 {
display: flex;
}
.p-new.Flex75 {
display: flex;
}
.p-new.Flex81 {
display: flex;
}
.p-new.Flex88 {
display: flex;
}
.p-new.Div4 {
;
}
.p-new.Div3 {
;
}
.p-new.TextBox20 {
;
}
.p-new.TextBox64 {
;
}
.p-new.Checkbox1 {
;
}
.p-new.Countup1 {
;
}
.p-new.Dropdown2 {
;
}
.p-new.Dropdown3 {
;
}
.p-new.Accordion1 {
;
}
.p-new.Cascader1 {
width: 160px;
}
.p-new.Dropdown1 {
;
}
.p-new.TextBox19 {
;
}
.p-new.TextBox18 {
;
}
.p-new.UnorderedList1 {
display: ;
}
.p-new.Overlay2 {
background-color: #00000073;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
}
.p-new.VerticalMenu2 {
display: inline-block;
position: relative;
flex-direction: row;
}
.p-new.Cascader2 {
width: 160px;
}
.p-new.Image27 {
;
}
.p-new.Image28 {
height: 350px;
}
.p-new.Image29 {
height: 350px;
}
