.p-Home.TextBox35 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox44 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox65 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox67 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.Button5 {
    --background-color: black;
    --background-color-dark: orange;

    display: inline-block;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--background-color);
	box-shadow: 8px 8px 0 var(--background-color-dark);

}

.p-Home.Button7 {
    --background-color: black;
    --background-color-dark: orange;

    display: inline-block;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: var(--background-color);
	box-shadow: 8px 8px 0 var(--background-color-dark);

}

.p-Home.TextBox90 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox93 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox96 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox104 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.Flex105 {
    background: linear-gradient(
        to bottom, 
        #ffffff 0%, 
        #ffffff 50%, 
        #000000 50%, 
        #000000 100%
      );
}

.p-Home.Div5 {
    
}


.p-Home.TextBox131 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox113{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey;
    
}

.p-Home.TextBox115{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox118{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox121{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey   
}

.p-Home.TextBox202 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.Image83 {
    
    -webkit-filter: grayscale(1); 
    
}

.p-Home.TextBox208 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox286 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-Home.TextBox273{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox272{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox271{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox239{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox282{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox279{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox280{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox281{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    border-color:grey 
    
}

.p-Home.TextBox303 {
    background: linear-gradient(108deg, #B16CEA 8%, #FF5E69 40%, #FF8A56 77%, #FFA84B 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}